<html>
<head>
    <title>Meme Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1:8000/" />
</head>
<body>
<script src="{{url_for('static', filename='script.js')}}"></script>
<h1>A website to gather some memes!</h1>
<p>Here is your meme! This will refresh in 30 seconds</p>
<p><img src="{{url_for('static', filename='Screenshot_20220205-164117.jpg')}}"></p>
<p>Current subreddit: My Balls</p>
</body>
</html>