<html>
<head>
    <title>Discord Cloud Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>
    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>
    <script type="application/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-dark text-light">

    <div class="d-grid gap-3">
        <div class="p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary rounded">
                <div class="container-fluid">

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalUpload">
                      Upload File
                    </button>

                    <div class="modal fade text-light" id="ModalUpload" tabindex="-1" role="dialog" aria-labelledby="modal-title-upload" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content bg-secondary">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modal-title-upload">Select the File</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true"></span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/upload" id="dropper" class="dropzone dz-clickable bg-dark" method="post" enctype="multipart/form-data">
                             <div class="d-grid gap-3" id="uploadForm">
                             </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="location.href = '/'">Back</button>

                </div>
            </nav>
        </div>

        <div class="p-3 contanir-fluid">
            <h1 id="fileName" class="text-center text-decoration-underline"></h1>
        </div>

        <div class="accordion col-md-6 mx-auto" id="accordionFolder" style="width:88%">

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('name');

    document.getElementById("fileName").innerHTML = myParam;

    fetch('/fetch').then(response => response.json()).then(function (data){
        var folders = {};

        for (const [key, value] of Object.entries(data[0])){
            if (value[1] === myParam){
                if (isNaN(value[0]) === false){
                    value[0] = (value[0]*20).toString() + ' mb'
                }
                folders[key] = value;
            }
        }

        var folderWrapper = document.getElementById("accordionFolder");

        var myFolderHTML = '';

        flag = 1
        for (const [keyFolder, valueFolder] of Object.entries(folders)) {
            myFolderHTML += '<div class="accordion-item">\n' +
                '                <h2 class="accordion-header" id="heading'+flag+'">\n' +
                '                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse'+flag+'" aria-expanded="false" aria-controls="collapse'+flag+'">\n' +
                '                   <strong>'+keyFolder+' Size: '+valueFolder[0]+'</strong>\n' +
                '                  </button>\n' +
                '                </h2>\n' +
                '                <div id="collapse'+flag+'" class="accordion-collapse collapse" aria-labelledby="heading'+flag+'" data-bs-parent="#accordionFolder">\n' +
                '                  <div class="accordion-body text-dark" id="accordionMidFolder' + keyFolder + '">\n' +
                '                  </div>\n' +
                '                </div>\n' +
                '              </div>\n';
            flag += 1
        }
        folderWrapper.innerHTML = myFolderHTML;
    })

    function reload(){
        fetch('/fetch').then(response => response.json()).then(function (data){
            var folders = {};

            for (const [key, value] of Object.entries(data[0])) {
                if (value[1] === myParam) {
                    folders[key] = value;
                }
            }

            var folderMid = '';

            for (const [keyFolder, valueFolder] of Object.entries(folders)) {
                var folderMidWrapper = document.getElementById("accordionMidFolder" + keyFolder);

                if (valueFolder[2] === "inDiscord"){
                    folderMid = '<button type="button" class="btn btn-primary" onclick="location.href = \'/downfromdis?file=' + keyFolder + '\'">Download From Discord</button>\n' +
                              '<button type="button" class="btn btn-primary" onclick="location.href = \'/delfromdis?file=' + keyFolder + '\'">Delete From Discord</button>\n' +
                              '<button type="button" class="btn btn-primary" onclick="location.href = \'/move?file=' + keyFolder + '\'">Move</button>\n';
                }
                else if (valueFolder[2] === "uptodis"){
                    folderMid = '<h3 class="text-center">Uploading to Discord<br> '+Math.round(valueFolder[3])+'%</h3>\n';
                }
                else if (valueFolder[2] === "downfromdis"){
                    folderMid = '<h3 class="text-center">Downloading to Server<br> '+Math.round(valueFolder[3])+'%</h3>\n';
                }
                else if (valueFolder[2] === "inServer"){
                    folderMid = '<button type="button" class="btn btn-primary" onclick="location.href = \'/move?file=' + keyFolder + '\'">Move</button>\n' +
                                '<h3>Downloaded to Server</h3>\n' +
                                '<button type="button" class="btn btn-primary" onclick="location.href = \'/downfromser?file=' + keyFolder + '\'">Download From Server</button>\n' +
                                '<button type="button" class="btn btn-primary" onclick="location.href = \'/delfromser?file=' + keyFolder + '\'">Delete From Server</button>\n';
                }
                else if (valueFolder[2] === "deleting"){
                    folderMid = '<h3 class="text-center">Deleting from Discord<br> '+Math.round(valueFolder[3])+'%</h3>\n';
                }

                folderMidWrapper.innerHTML.trim();
                folderMidWrapper.innerHTML = folderMid;
            }

        })
    }
    reload()
    window.onload = setInterval(reload, 3000)

    Dropzone.options.dropper = {
        paramName: 'uptoser',
        chunking: true,
        forceChunking: true,
        url: '/upload?folder='+myParam,
        uploadMultiple: false,
        maxFiles:1,
        maxFilesize: 20000,
        chunkSize: 1000000, // bytes

        init: function() {
              this.on("maxfilesexceeded", function(file) {
                    this.removeAllFiles();
                    this.addFile(file);
              });
        },
        init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                window.location.replace('/folder?name='+myParam);
              }
            });
          },
        uploadprogress: function(file, progress, bytesSent) {
            var formMid = document.getElementById("uploadForm")
            if (progress !== 100){
                formMid.innerHTML = '<h2 class="text-center">Progress: '+Math.round(progress)+'%</h2>\n';
            }
        }
    }
</script>
</body>
</html>